html { font-size:100%; }
@media (max-width: 640px) 
{ 
    h1 {font-size:4rem;} 

    .navbar-brand
    {
        font-size: 25px !important;
        line-height: 25px !important;
        font-family: Calibri,sans-serif; 
    }
} 

@media (min-width: 641px) 
{ 
    h1{font-size:4rem;}

    .navbar-brand
    {
        font-size: 25px !important;
        line-height: 25px !important;
        font-family: Calibri,sans-serif; 
    }
} 
 
@media (min-width:960px) 
{ 
    h1 {font-size:5em;} 

    .navbar-brand
    {
        font-size: 30px !important;
        line-height: 20px !important;
        font-family: Calibri,sans-serif; 
        color:black !important;
    }
} 

@media (min-width:1100px) 
{ 
    h1 {font-size:8rem;}

    .navbar-brand 
    {
        font-size: 30px !important; 
        line-height: 20px !important;
        font-family: Calibri,sans-serif; /**/
    }

} 


#rt-header
{
    margin-top:55px;
}

.rt-title
{
    color:white !important;
    font-weight: bold !important;
    text-shadow: 0.1em 0.1em 0.15em #222; 
}
#clienti
{
    background-color: whitesmoke !important;
}
#contatti
{
    background-color: rgb(255, 255, 0) !important;
}
#rt-esempi
{
    background-color: #333; 
    line-height:1.5; 
    margin-top:50px;
    margin-bottom: 30px;
    color:white;
}

.title-section
{
    color:black;
    text-align: center;
    font-size: 100px;
}

#servizi
{
    padding-top:90px; 
    background-color: white; 
    color:black;
    border: tomato solid 15px;
}
#attivazione
{
    margin-top:20px;
    border: #90EE90 solid 15px;
    border-radius: 20px;
}